<h4>Internal server error! - refreshing will make the error dissapear!</h4>
<ng-container *ngIf="error">
        <h5 class="text-danger">Error : {{error.message}}</h5>
        <p class="font-weight-bold">Note: If you are seeing this then Angular is not to blame!</p>
        <p>What to do next?</p>
        <ol>
            <li>Open the chrome dev tools!</li>
            <li>Inspect the network tab</li>
            <li>Check the failing requests</li>
            <li>Examine the request URL - make sure it is corect!</li>
            <li>Reproduce the error in postman - if we see the same response than the issue is not with Angular!</li>
        </ol>
        <p>Following is the stack trace - this is where your investigation should start!</p>
        <code class="mr-5" style="background-color:whitesmoke ;">{{error.details}}</code>
</ng-container>