<div class="form-group">
    <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type={{type}} 
    class="form-control" 
    [formControl]="ngControl.control"
    placeholder={{label}}>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.required">
        Please enter a {{label}}!
    </div>

    <!-- IMPORTANT isMatching!!!!!!! -->
    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.maxlength">
    {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.pattern">
    Password must contain at least: one lower case, one upper case, one digit and one special character!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.isMatching">
        Passwords do not match!
    </div>
</div>