<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">I am a:</label>
        <label class="radio-inline">
            <input type="radio" value='male' formControlName='gender'> Male
        </label>
        <label class="radio-inline">
            <input type="radio" value='female' class="ml-3" formControlName='gender'> Female
        </label>
    </div>

    <app-text-input [formControl]='registerForm.controls["username"]'
        [label]='"Username"'>
    </app-text-input>

    <app-text-input [formControl]='registerForm.controls["knownAs"]'
    [label]='"Known As"'>
    </app-text-input>

    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]'
    [label]='"Date of Birth"' [maxDate]='maxDate'>
    </app-date-input>

    <app-text-input [formControl]='registerForm.controls["city"]'
    [label]='"City"'>
    </app-text-input>

    <app-text-input [formControl]='registerForm.controls["country"]'
    [label]='"Country"'>
    </app-text-input>

    <app-text-input [formControl]='registerForm.controls["password"]' 
    [label]='"Password"' 
    [type]='"password"'>
    </app-text-input>

    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
    [label]='"Confirm Password"' 
    [type]='"password"'>
    </app-text-input>

   <!--  <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("username").errors 
        && registerForm.get("username").touched'
        type="text" class="form-control"  
        formControlName="username"
        placeholder="Username">
        <div class="invalid-feedback">
            Please enter a username!
        </div>
    </div>

    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("password").errors 
        && registerForm.get("password").touched'
        type="password" class="form-control" 
        formControlName="password"
        placeholder="Password">

        <div class="invalid-feedback" 
        *ngIf="registerForm.get('password').hasError('required')">
            Please enter a password!
        </div>

        <div class="invalid-feedback" 
        *ngIf="registerForm.get('password').hasError('minlength')">
            Password must be at least 4 chars!
        </div>

        <div class="invalid-feedback" 
        *ngIf="registerForm.get('password').hasError('maxlength')">
            Password must be at most 8 chars!
        </div>
    </div>

    <div class="form-group">
        <input
        [class.is-invalid]='registerForm.get("confirmPassword").errors 
        && registerForm.get("confirmPassword").touched'
        type="password" class="form-control" 
        formControlName="confirmPassword"
        placeholder="Confirm Password">

        <div class="invalid-feedback" 
        *ngIf="registerForm.get('confirmPassword').hasError('required')">
            Please enter a confirmed password!
        </div>

        <div class="invalid-feedback" 
        *ngIf="registerForm.get('confirmPassword').hasError('isMatching')">
            Passwords do not match!
        </div>
    </div> -->

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    
    <div class="form-group text-center">
        <button class="btn btn-success mr-2"
        [disabled]='!registerForm.valid' 
        type="submit">Register</button>

        <button class="btn btn-danger mr-2" (click)="cancel()" 
        type="button">Cancel</button>

    </div>
</form>
<p> Form value: {{registerForm.value | json}}</p>
<p> Form value: {{registerForm.status | json}}</p>

<!--     <div class="form-group">
        <label> What is you fav user?</label>
        <select class="form-control">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div> -->